:host {
    --border-radius: 4px !important;
}

.imgMove{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20%;
}



.moveCenter{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;

}

  .subFontTrans {
    color: #576B74;
    font-size: 12px;
    text-align: left;
    margin-bottom: 8%;
}


.headFontTrans{
    color: 
    #0C292A;
    font-size: 16px;
    text-align: left;
    font-weight: 900;
   
}

.btnsTxt{
    margin-top: 30%;
}

.txtLeft{
    // text-align: left;
    margin-left: 10%;
    color: #1D4355;
    font-size: 30px;
    margin-bottom: 10%;

}

#pushLeft{
    float: right;
    margin-right: 10%;
    font-style: italic;
}

ion-button{
    --background: #006AFF;
    --background-hover: #006AFF;
    --background-activated: #006AFF;
    --background-focused: #006AFF;
    --color: rgb(255, 255, 255);
    --border-radius: 30px;
    --border-style: solid;
    --border-width: 1px;
  //  --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
    --ripple-color: #224d0e;
    --padding-top: 23px;
    --padding-bottom: 23px;
    width: 90%;
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 22px;
    text-transform: none;
}


.headerFont{
    text-align: left;
font-size: 28px;
padding-left: 10px;
font-family: Clash;
  }

  .subFonts{
    text-align: left;
    padding-left: 12px;
    color: #576B74
  }

  .main-sec {
    // background-image: url(/../assets/img/background.svg);
    // height: 35%;
    background-repeat: no-repeat;

    display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;

   
}

.notblock {
    width: 40%;
    margin-top: 20%;

}