<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">

      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content>
  <div class="text-container">
    <h3 class="headerFont">
    </h3>
   
  </div>




  <div class="text-container">
    <h3 class="headerFontc"> <span style="color: #a0a0a0;">01</span>:45
    </h3>
   
  </div>

    <div class="">
      <img src="../assets/img/audio.png" class="moveCenter">
    </div>

    <ion-row style="font-size: 10px;padding-top: 30px;padding-right: 60px;padding-left: 60px;padding-bottom: 50px">
      <ion-col size="3" >
        <div class="image-container">
          <img src="../assets/img/play.png" >
          <p>Play</p>
        </div>
        <!-- <img src="../assets/img/play.png"><br>
        Play -->
      </ion-col>
     <ion-col size="3">
        <!-- <img src="../assets/img/replay.png"><br> -->
      

        <div class="image-container" style="
    margin-top: 4px;">
          <img src="../assets/img/replay.png">
          <p>Re-wind</p>
        </div>
      </ion-col>
     <ion-col size="3" >
        <!-- <img src="../assets/img/delete.png"><br> -->
        

        <div class="image-container">
          <img src="../assets/img/delete.png">
          <p>Delete</p>
        </div>
      </ion-col>
      <ion-col size="3" >
        <!-- <img src="../assets/img/save.png"><br> -->
        

        <div class="image-container">
          <img src="../assets/img/save.png">
          <p>Save</p>
        </div>
      </ion-col>
    </ion-row>
</ion-content>