
<ion-header>
  <ion-toolbar>
    <!-- <ion-buttons slot="start">

      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons> -->
    <ion-title>Transaction Created</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>

  <div style="padding-top: 20%">
  <h4 class="opened">Transaction Created</h4>
  <p class="popened">Your transaction has been created and you need to share the url to the seller for them to join and accept the transaction</p>

  <img src="../assets/img/qr.svg" class="moveCenter2">
  
<br>
  <ion-grid>
    <h4 class="opened2">URL</h4>
    <ion-row>
      <ion-col size="12">
        <ion-item fill="outline" class="moveCenter">
          <ion-input>eli?=122332443kbghvhf5346r43</ion-input>
        </ion-item>
      </ion-col>

    </ion-row>
  </ion-grid>




  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <div class="btnsTxt">
          <ion-button (click)="home()"> Okay
          </ion-button>

        </div>
      </ion-col>

    </ion-row>


  </ion-grid>
</div>
</ion-content>
<!-- <ion-footer>
  <div >
    <img src="../assets/img/logo.png" class="moveCenter2">
    <img src="../assets/img/text.png" class="moveCenter2">
    <img src="../assets/img/line.png" class="moveCenter2">
    </div>
</ion-footer> -->

