

<ion-content >

  <div class="swiper-pagination"></div>
  
  <div>
    <img src="../assets/img/main.jpg" class="moveRight">
  </div>

        <div class="text-container">
          <h3 class="headerFont">Synerdoc Care Visit App
      
          </h3>
          <p class="subFonts">Supporting your independence with expert homecare services.</p>
        </div>

  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="../assets/img/slid1.jpg" class="moveCenter">

      
      </div>
      <div class="swiper-slide">
        <img src="../assets/img/slid2.jpg" class="moveCenter">

    
      </div>
      <div class="swiper-slide">
        <img src="../assets/img/slid3.jpg" class="moveCenter">

      </div>

    </div>
   
  </div>
  <div class="btn-positions">
    <ion-button (click)="login()">Get Started</ion-button>
    <!-- <ion-button color="primary-contrast" class="whitee" (click)="login()"> Login</ion-button>
    <p style="text-align: center;margin: 20px 20px 10px 20px;"> or</p>
    <ion-button color="primary-contrast" class="whitee_g" (click)="google()"> <img src="../assets/img/google.jpg"
        style="padding-right: 10px;"> Sign In with Google</ion-button> -->
  </div>
</ion-content>