

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
    
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
  
  </ion-toolbar>
</ion-header>


  
  <ion-content>
    <div class="text-container">
      <h3 class="headerFont">Invite Friends and partners. </h3>
      
        <p class="subFonts">Invite friends to synerdoc and enjoy 40% commission from transaction fees.</p>
        </div>

        <div class="btnsTxt">
          <ion-button >Share Invite</ion-button>
</div>

<div class="btnsTxt">
  <ion-button  class="whitee_g">Copy Invite Link</ion-button>
</div>



<div class="text-container">
  <h3 class="headerFont">Requirements </h3>
  
    <p class="subFonts">Accounts that are identified by our system as clones of other accounts won’t be used to calculate commission.</p>
    </div>

    <div class="btnsTxt" style="margin-top: 80%;">
      <ion-button (click)="gohome()">Go Home</ion-button>
</div>
    </ion-content>