
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">

      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>

  <img src="../assets/img/synerdocLogo.png" style="padding-right: 5%;float: right">

  </ion-toolbar>
</ion-header>


<ion-content>
 
  <div class="main-sec">

        <div class="notblock">
         
      
          <img src="../assets/img/profIcon.svg" width="100%" >
       
        

          <div class="text-content">
          
            <h4 class="headFontTrans">Heidy Grace</h4>
            <p class="subFontTrans">SN - Skilled Nurse</p>
          </div>
      
        </div> 
  </div>
  
  <!-- <ion-row style="padding-top: 5%;">
   
    
    <ion-col size="6">
      <ion-button class="whitee_g" (click)="edit()"  > Edit Profile </ion-button>
    </ion-col>

    <ion-col size="6">
      <ion-button class="whitee_g" (click)="invite()">  Invite Others</ion-button>
    </ion-col>

  

  </ion-row> -->

  <div class="itemizedHis" (click)="edit()">
    <div class="container">
      <!-- <img src="../assets/img/paymentMethod.svg"> -->
      <div class="text-content">
      
        <h4 class="headFontTrans">Account</h4>
          </div>
      <img src="../assets/img/arrow.png" style="margin-top: 5%;">
    </div>
  
  </div> 

  <div class="itemizedHis">
    <div class="container" (click)="logout()">
      <!-- <img src="../assets/img/trans.png"> -->
      <div class="text-content">
      
        <h4 class="headFontTrans">Logout</h4>
          </div>
      <img src="../assets/img/arrow.png" style="margin-top: 5%;">
    </div>
  
  </div> 

  <!-- <div class="itemizedHis">
    <div class="container">
      <img src="../assets/img/info.svg">
      <div class="text-content">
      
        <h4 class="headFontTrans">Help Center</h4>
          </div>
      <img src="../assets/img/arrow.png" style="margin-top: 5%;">
    </div>
  
  </div>  -->


  <!-- <div>
    <h4 class="headerTxt">Settings</h4>
  </div>

  <div class="itemizedHis" style="background-color: #f5f5f5;margin-bottom: 10%">
    <div class="container" (click)="trans()">
      <img src="../assets/img/notee.svg">
      <div class="text-content">
      
        <h4 class="headFontTrans">Notifications</h4>
         </div>
      <img src="../assets/img/arrow.png" style="margin-top: 5%;">
    </div>
    <hr style="border-width: 1px;">
    <div class="container">
      <img src="../assets/img/preference.svg">
      <div class="text-content">
      
        <h4 class="headFontTrans">Preferences</h4>
       </div>
      <img src="../assets/img/arrow.png" style="margin-top: 5%;">
    </div>
    <hr style="border-width: 1px;">
    <div class="container">
      <img src="../assets/img/security.svg">
      <div class="text-content">
      
        <h4 class="headFontTrans">Security</h4>
       </div>
      <img src="../assets/img/arrow.png" style="margin-top: 5%;">
    </div>
  </div>

  
  <div class="container2" (click)="logout()">
    <img src="../assets/img/logout.svg" class="img"alt="Your Image">
    <span>Logout</span>
  </div> -->

</ion-content>




