<!-- 


<ion-content>

  <div class="main-sec">


    <img src="../assets/img/pro_vec.svg" class="bottom-right-image">
    <img src="../assets/img/pro_vec2.svg" class="top-left-image">
    <ion-row class="moveRow">
      <ion-col size="10">
        <div class="imgTxblock">
          <img src="../assets/img/profile.png" style="padding-right: 10px;">
          <h4 class="imgTxt">Hello {{fullname}}!</h4>
        </div>

      </ion-col>
      <ion-col size="2" (click)="seeAll()">
        <div class="">
          <img src="../assets/img/bell.svg" width="100%">
        </div>
      </ion-col>
    </ion-row>

    <div class="text-container">
      <p class="subFonts">Current Balance
      </p>
      <h3 class="headerFont">₵0.00
      </h3>

      <ion-button class="withdwBtn"  (click)="withdraw()"> <img src="../assets/img/withdraw.svg" style="padding-right: 10px;" >
        Withdraw </ion-button> 
    </div>

  </div>

  <ion-row style="padding-top: 5%;">
    <ion-col size="6">
      <ion-button class="whitee_g"  (click)="presentModal()"> <img src="../assets/img/convert-card.png" style="padding-right: 10px;" > New
        Transaction </ion-button>
    </ion-col>

    <ion-col size="6">
      <ion-button class="whitee_g" (click)="presentModal2()"> <img src="../assets/img/hook.png" style="padding-right: 10px;"> Join
        transaction</ion-button>
    </ion-col>

  </ion-row>
<div *ngIf="resp_code_pending != '101'">
  <div class="forSlides">
  <div>
    <h4 class="txtLeft">Ongoing Transactions</h4>
  </div>

  <ion-slides [options]="slideOpts">
    <ion-slide *ngFor="let item of trans_list_pending">
      <div class="itemized">
        <div class="container">
          
          <div class="text-content">
          
            <h4 class="headFont">{{item.item_name}}</h4>
            <p class="subFontsc">₵{{item.amount}}.00</p>
            <ion-progress-bar value=".45">
              <ion-label slot="content">25%</ion-label>
            </ion-progress-bar>
          </div>
          <img src="../assets/img/info.png">
        </div>
      </div>
    </ion-slide>

  
  </ion-slides>

</div>
</div>


<div *ngIf="resp_code != '101'">
<div>

  <ion-grid>
    <ion-row>
   
      <ion-col size="6">
        <span class="left-text" >Recent Transactions</span>

        
      </ion-col>
  
 
      <ion-col size="6">
        <span class="right-text" (click)="seeAll()">See All</span>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="itemized" *ngFor="let item of trans_list">
    <div class="container" *ngIf="item.status != 'pending'">
      <img src="../assets/img/incoming.png">
      <div class="text-content">
      
        <h4 class="headFontTrans">{{item.item_name}}</h4>
        <p class="subFontTrans">Payment received on {{item.created_at | date: 'mediumDate'}}</p>
      </div>
      <p class="headFontTrans">+₵{{item.amount}}</p>
    </div>

    <div class="container" *ngIf="item.status == 'pending'">
      <img src="../assets/img/money.png">
      <div class="text-content">
      
        <h4 class="headFontTrans">{{item.item_name}}</h4>
        <p class="subFontTrans">Transaction made on {{item.created_at | date: 'mediumDate'}}</p>
      </div>
      <p class="headFontTrans">-₵{{item.amount}}</p>
    </div>
  </div> <br>
 
</div>

 
</div>

  <div *ngIf="resp_code == '101'">
  
  <div class="">
    <div class="emptyTrans">
      <img src="../assets/img/folder-cross.svg" class="crossImg">
    </div>
  </div>

  <div>
    <p style="text-align: center; color: #224d0e;">You have no ongoing transactions. Hit New Transaction to get started, or Join Transaction to see pending ones.
    </p>
  </div>

</div>
<br>
</ion-content> -->



<ion-content>

  <div class="main-sec">

<!-- 
    <img src="../assets/img/pro_vec.svg" class="bottom-right-image"> -->

    <!-- <img src="../assets/img/pro_vec2.svg" class="top-left-image"> -->


    <!-- <img src="../assets/img/main.jpg" class="top-left-image"> -->

    <ion-row class="moveRow">
      <ion-col size="10">
        <div class="imgTxblock">
          <img src="../assets/img/synerdocLogo.png" style="padding-left: 5%;">

        </div>

      </ion-col>
      <ion-col size="2" >
        <div class="">
          <img src="../assets/img/synaBell.png" width="100%">
        </div>
      </ion-col>
    </ion-row>

    <div class="container">
      <img src="../assets/img/profpic.png">
      <div class="text-content">

        <h4 class="headFontTrans">Heidy Grace</h4>
        <p class="subFontTrans">SN - Skilled Nurse</p>
      </div>


    </div>

    <ion-searchbar placeholder="Search Name / Service"></ion-searchbar>

    <div style="padding-top: 5%;">
      <ion-row style="padding: 5px;" >
        <ion-col size="3" (click)="details()">
          <div class="badgeColumn">

            <img src="../assets/img/anita.png" class="crossImg">
            <ion-badge slot="start" class="badgeSize">HHA</ion-badge>
            <div>
              <p style="text-align: center">Anita Shades
              </p>

            </div>
          </div>
        </ion-col>

        <ion-col size="3">
          <div class="badgeColumn">
        
            <img src="../assets/img/anita.png" class="crossImg">
            <ion-badge slot="start" class="badgeSize">HHA</ion-badge>
            <div>
              <p style="text-align: center">Anita Shades
              </p>
        
            </div>
          </div>
        </ion-col>

        <ion-col size="3">
          <div class="badgeColumn">
        
            <img src="../assets/img/anita2.png" class="crossImg">
            <ion-badge slot="start" class="badgeSize">PA</ion-badge>
            <div>
              <p style="text-align: center">Osei Awuah
              </p>
        
            </div>
          </div>
        </ion-col>

        <ion-col size="3">
          <div class="badgeColumn">
        
            <img src="../assets/img/anita3.png" class="crossImg">
            <ion-badge slot="start" class="badgeSize">PA</ion-badge>
            <div>
              <p style="text-align: center">Paul Boateng
              </p>
        
            </div>
          </div>
        </ion-col>



      </ion-row>
    </div>



<!-- 
    <div class="scheduleBox">
    
      <ion-grid>
        <ion-row>
    
          <ion-col size="6">
            <span class="left-text">My Schedule</span>
    
    
          </ion-col>
    
    
          <ion-col size="6">
            <span class="right-text">View All</span>
          </ion-col>
        </ion-row>
      </ion-grid>
    
        
        <div class="schedulecontainer">
        <h4 style="font-size: 10px">25 Sept 24</h4>
        <div class="schedulecontainer2">
          <img src="../assets/img/anita.png">
          <div class="text-content">
    
            <h4 class="headFontTrans">Anita Shades</h4>
            <p class="subFontTrans">1111 South Long Ave Hillside NJ 07205</p>
          </div>
          <p class="headFontTrans"><ion-badge slot="start" style="background-color: #EA580C;">HHA</ion-badge></p>
          </div>
        </div>

<div class="schedulecontainer">
  <h4 style="font-size: 10px">16 Sept 24</h4>
  <div class="schedulecontainer2">
    <img src="../assets/img/anita3.png">
    <div class="text-content">

      <h4 class="headFontTrans">Michael Apalolo</h4>
      <p class="subFontTrans">Dzorwulu Airport Area</p>
    </div>
    <p class="headFontTrans"><ion-badge slot="start" style="background-color: #EA580C;">PA</ion-badge></p>
  </div>
</div>

<div class="schedulecontainer">
  <h4 style="font-size: 10px">12 Sept 24</h4>
  <div class="schedulecontainer2">
    <img src="../assets/img/anita2.png">
    <div class="text-content">

      <h4 class="headFontTrans">Kofi Peprah</h4>
      <p class="subFontTrans">Lapaz Metropolitan</p>
    </div>
    <p class="headFontTrans"><ion-badge slot="start" style="background-color: #EA580C;">HHA</ion-badge></p>
  </div>
</div>
<br>
    
    </div> -->



  </div>

  <!-- <ion-row style="padding-top: 5%;">
    <ion-col size="6">
      <ion-button class="whitee_g" (click)="presentModal()"> <img src="../assets/img/convert-card.png"
          style="padding-right: 10px;"> New
        Transaction </ion-button>
    </ion-col>

    <ion-col size="6">
      <ion-button class="whitee_g" (click)="presentModal2()"> <img src="../assets/img/hook.png"
          style="padding-right: 10px;"> Join
        transaction</ion-button>
    </ion-col>

  </ion-row> -->



 

  <!-- <div *ngIf="resp_code == '101'">

    <div class="">
      <div class="emptyTrans">
        <img src="../assets/img/folder-cross.svg" class="crossImg">
      </div>
    </div>

    <div>
      <p style="text-align: center; color: #224d0e;">You have no ongoing transactions. Hit New Transaction to get
        started, or Join Transaction to see pending ones.
      </p>
    </div>

  </div> -->
  <br>

<!-- <div class="deck">
  <div class="card" *ngFor="let card of cards; let i = index"
     [ngStyle]="{'z-index': getZIndex(i), 'top': getTopOffset(i), 'background-color': getBackgroundColor(i)}"
    (click)="bringCardToFront(i)">
    <div class="card-content">
        
      {{ card }}
    </div>
  </div>
</div> -->


<div class="deck">
  <div class="card" 
    [ngStyle]="{'z-index': getZIndex(1), 'top': getTopOffset(1)}"
    (click)="bringCardToFront(1)">
    <div class="card-content">

        <div class="scheduleBox"  [ngStyle]="{'background-color': getBackgroundColor(1)}">
        
          <ion-grid>
            <ion-row>
        
              <ion-col size="6">
                <span class="left-text"></span>
        
        
              </ion-col>
        
        
              <ion-col size="6">
                <span class="right-text"></span>
              </ion-col>
            </ion-row>
          </ion-grid>
        
        
          <div class="schedulecontainer">
            <h4 style="font-size: 10px">25 Sept 24</h4>
            <div class="schedulecontainer2">
              <img src="../assets/img/anita.png">
              <div class="text-content">
        
                <h4 class="headFontTrans">Anita Shades</h4>
                <p class="subFontTrans">1111 South Long Ave Hillside NJ 07205</p>
              </div>
              <p class="headFontTrans"><ion-badge slot="start" style="background-color: #EA580C;">HHA</ion-badge></p>
            </div>
          </div>
        
          <div class="schedulecontainer">
            <h4 style="font-size: 10px">16 Sept 24</h4>
            <div class="schedulecontainer2">
              <img src="../assets/img/anita3.png">
              <div class="text-content">
        
                <h4 class="headFontTrans">Michael Apalolo</h4>
                <p class="subFontTrans">Dzorwulu Airport Area</p>
              </div>
              <p class="headFontTrans"><ion-badge slot="start" style="background-color: #EA580C;">PA</ion-badge></p>
            </div>
          </div>
        
          <div class="schedulecontainer">
            <h4 style="font-size: 10px">12 Sept 24</h4>
            <div class="schedulecontainer2">
              <img src="../assets/img/anita2.png">
              <div class="text-content">
        
                <h4 class="headFontTrans">Kofi Peprah</h4>
                <p class="subFontTrans">Lapaz Metropolitan</p>
              </div>
              <p class="headFontTrans"><ion-badge slot="start" style="background-color: #EA580C;">HHA</ion-badge></p>
            </div>
          </div>
          <br>
        
        </div>


     
    </div>
  </div> 


  <!-- SECOND DECK-->

  <div class="card"
    [ngStyle]="{'z-index': getZIndex(2), 'top': getTopOffset(2)}"
    (click)="bringCardToFront(2)">
    <div class="card-content">
  
      <div class="scheduleBox" [ngStyle]="{'background-color': getBackgroundColor(2)}">
  
        <ion-grid>
          <ion-row>
  
            <ion-col size="6">
              <span class="left-text">My Schedules</span>
  
  
            </ion-col>
  
  
            <ion-col size="6">
              <span class="right-text">View All</span>
            </ion-col>
          </ion-row>
        </ion-grid>
  
  
        <div class="schedulecontainer">
          <h4 style="font-size: 10px">25 Sept 24</h4>
          <div class="schedulecontainer2">
            <img src="../assets/img/anita.png">
            <div class="text-content">
  
              <h4 class="headFontTrans">Anita Shades</h4>
              <p class="subFontTrans">1111 South Long Ave Hillside NJ 07205</p>
            </div>
            <p class="headFontTrans"><ion-badge slot="start" style="background-color: #EA580C;">HHA</ion-badge></p>
          </div>
        </div>
  
        <div class="schedulecontainer">
          <h4 style="font-size: 10px">16 Sept 24</h4>
          <div class="schedulecontainer2">
            <img src="../assets/img/anita3.png">
            <div class="text-content">
  
              <h4 class="headFontTrans">Michael Apalolo</h4>
              <p class="subFontTrans">Dzorwulu Airport Area</p>
            </div>
            <p class="headFontTrans"><ion-badge slot="start" style="background-color: #EA580C;">PA</ion-badge></p>
          </div>
        </div>
  
        <div class="schedulecontainer">
          <h4 style="font-size: 10px">12 Sept 24</h4>
          <div class="schedulecontainer2">
            <img src="../assets/img/anita2.png">
            <div class="text-content">
  
              <h4 class="headFontTrans">Kofi Peprah</h4>
              <p class="subFontTrans">Lapaz Metropolitan</p>
            </div>
            <p class="headFontTrans"><ion-badge slot="start" style="background-color: #EA580C;">HHA</ion-badge></p>
          </div>
        </div>
        <br>
  
      </div>
  
  
  
    </div>
  </div> 




  <div class="card" [ngStyle]="{'z-index': getZIndex(3), 'top': getTopOffset(3)}" (click)="bringCardToFront(3)">
    <div class="card-content">
  
      <div class="scheduleBox" [ngStyle]="{'background-color': getBackgroundColor(3)}">
  
        <ion-grid>
          <ion-row>
  
            <ion-col size="6">
              <span class="left-text"></span>
  
  
            </ion-col>
  
  
            <ion-col size="6">
              <span class="right-text"></span>
            </ion-col>
          </ion-row>
        </ion-grid>
  
  
        <div class="schedulecontainer">
          <h4 style="font-size: 10px">25 Sept 24</h4>
          <div class="schedulecontainer2">
            <img src="../assets/img/anita.png">
            <div class="text-content">
  
              <h4 class="headFontTrans">Anita Shades</h4>
              <p class="subFontTrans">1111 South Long Ave Hillside NJ 07205</p>
            </div>
            <p class="headFontTrans"><ion-badge slot="start" style="background-color: #EA580C;">HHA</ion-badge></p>
          </div>
        </div>
  
        <div class="schedulecontainer">
          <h4 style="font-size: 10px">16 Sept 24</h4>
          <div class="schedulecontainer2">
            <img src="../assets/img/anita3.png">
            <div class="text-content">
  
              <h4 class="headFontTrans">Michael Apalolo</h4>
              <p class="subFontTrans">Dzorwulu Airport Area</p>
            </div>
            <p class="headFontTrans"><ion-badge slot="start" style="background-color: #EA580C;">PA</ion-badge></p>
          </div>
        </div>
  
        <div class="schedulecontainer">
          <h4 style="font-size: 10px">12 Sept 24</h4>
          <div class="schedulecontainer2">
            <img src="../assets/img/anita2.png">
            <div class="text-content">
  
              <h4 class="headFontTrans">Kofi Peprah</h4>
              <p class="subFontTrans">Lapaz Metropolitan</p>
            </div>
            <p class="headFontTrans"><ion-badge slot="start" style="background-color: #EA580C;">HHA</ion-badge></p>
          </div>
        </div>
        <br>
  
      </div>
  
  
  
    </div>
  </div>
</div>
</ion-content>