.moveCenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;

}

.main-sec {
    background-color: #f6f6f6;
    // height: 100%;
    position: relative;
    // border-bottom-left-radius: 20px;
    // border-bottom-right-radius: 20px;
}

.imgTxt {
    color: white;
}

.imgTxblock {
    display: flex;
    align-items: center;
}

.notblock {
    display: flex;
    background: white;
    align-items: center;
    width: 78%;
    padding: 4px;
    border-radius: 50%;
}

.engaged {
    padding-left: 20px;
    line-height: 0px;
}

.engaged-right {
    // padding-right: 20px;
    line-height: 0px;
}

ion-slides {
    width: 100%;
}

.cardd {
    width: 100% !important;
}

.moveCenter2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;

}

.btnsTxt {
    margin-top: 10%;
}

.txtLeft {
    float: left;
    // text-align: left;
    margin-left: 6%;
    color: #006AFF;
    font-size: 16px;
    margin-bottom: 3%;



}

#pushLeft {
    float: right;
    margin-right: 10%;
    font-style: italic;
}

ion-button {
    --background: #224d0e;
    --background-hover: #224d0e;
    // --background-activated: #224d0e;
    --background-focused: #224d0e0d;
    --color: rgb(255, 255, 255);
    --border-radius: 5px;
    --border-color: #224d0e;
    --border-style: solid;
    --border-width: 1px;
    --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
    --ripple-color: #224d0e0d;
    --padding-top: 23px;
    --padding-bottom: 23px;
    width: 70%;
    height: 76%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 22px;
}

ion-card-header {
    --background: #1D4355;
    --color: rgb(255, 255, 255);
}

ion-card-title,
ion-card-subtitle {
    --color: rgb(255, 255, 255);
    font-size: 19px;
}

ion-footer {
    background: white;
    border-color: white;
}

ion-card-header+.card-content-md,
.card-content-ios {
    padding-top: 24px;
}


.top-left-image {
    position: absolute;
    top: 0;
    /* Place the image at the top */
    left: 0;
    /* Place the image at the left */
}

/* Additional style for the bottom right image */
.bottom-right-image {
    position: absolute;
    bottom: 0;
    /* Place the image at the bottom */
    right: 0;
    /* Place the image at the right */
}

.moveRow {
    padding-top: 12%;
}


.text-container {
    margin-top: 2%;
    margin-bottom: 0%;
    color: white;
}


.headerFont {
    text-align: center;
    font-size: 45px;
    padding-left: 10px;
    font-family: Clash;
}

.subFonts {
    text-align: center;
    padding-left: 10px;
}

.whitee_g {
    --background: #E8EEEE;
    --background-hover: #E8EEEE --background-activated: #E8EEEE --background-focused: #E8EEEE;
    --color: #006AFF;
    --border-radius: 19px;
    --border-style: solid;
    --border-color: #E8EEEE;
    --border-width: 1px;
    --padding-top: 23px;
    --padding-bottom: 23px;
    width: 90%;

    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    text-transform: none;
}

.withdwBtn {
    --background: #537f7f;
    --background-hover: #537f7f --background-activated: #537f7f --background-focused: #537f7f;
    --color: #ffffff;
    --border-radius: 10px;
    --border-style: solid;
    --border-color: #537f7f;
    --border-width: 1px;
    --padding-top: 16px;
    --padding-bottom: 13px;
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    text-transform: none;
}



ion-button {
    --background: #006AFF;
    --background-hover: #006AFF;
    --background-activated: #224d0e0d;
    --background-focused: #006AFF;
    --color: rgb(255, 255, 255);
    --border-radius: 30px;
    --border-style: solid;
    --border-width: 1px;
    //  --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
    --ripple-color: #224d0e0d;
    --padding-top: 23px;
    --padding-bottom: 23px;
    width: 90%;

    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 22px;
    text-transform: none;
}



.emptyTrans {
    display: flex;
    background: rgba(237, 246, 246, 0.4196078431);
    align-items: center;
    width: 50%;
    padding: 0px;
    border-radius: 50%;
    margin-left: 23%;
    margin-top: 10%;

}

.crossImg {
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 10%;
    padding-bottom: 5%;
    width: 100%;
}



.container {
    display: flex;
    // align-items: center;
    align-items: flex-start;
        padding-left: 5%;
    
}

.subFontsc {
    color: #0C292A;
    font-size: 20px;
    text-align: left;
    margin-bottom: 8%;


}

.subFontTrans {
    // color: #576B74;
    font-size: 12px;
    text-align: left;
    margin-bottom: 8%;
}

.headFontTrans{
    color:rgb(0 0 0);
    font-size: 16px;
    text-align: left;
    font-weight: 900;
   
}

.headFont {
    text-align: left;
    // color: #576B74;
    font-size: 14px;
}

.itemized {
    border-radius: 11px !important;
    height: 90px;
    border-width: 1px;
    border-style: solid;
    border-color: #B3C6C6;
    width: 90%;
    margin-left: 4%;
    padding: 10px;
}

// .itemizedNew {
//   border-radius: 11px !important;
//   height: 100%;
//   border-width: 1px;
//   border-style: solid;
//   border-color: #B3C6C6;
//   width: 90%;
//   margin-left: 4%;
//   padding-top: 15px;
//   margin-top: 10%;
//   padding-bottom: 10%;
//   margin-top: 0%;
// }

.badgeColumn{
    border-radius: 11px !important;
    border-width: 1px;
    border-style: solid;
    border-color: #B3C6C6;
    width: 100%;
    padding: 5px 5px 5px 5px;
}

.badgeSize{
    float: right;
    margin-top: -23px;
    font-size: 11px;
    background: #3a7be0
}

 .forSlides{
    padding-bottom: 5%;
 }

.text-content {
    flex-grow: 1;
    padding: 4px 4px 4px 13px;
    
    /* Allow the text content to grow and fill the available space */
}

h4 {
    margin: 0 0 5px 0;
    /* Set bottom margin to 5px, adjust as needed */
}

p {
    margin: 0;
    /* Remove default margin for better alignment */
}


ion-progress-bar {
    --background: #f3e895;
    --progress-background: #3CB3B5;
}



.horizontal-layout {
    display: flex;
    justify-content: space-between;
}

.left-text {
    margin-right: 0;
    color: #000000;
    font-size: 16px;

    margin-left: 6%;
}

.right-text {
    margin-left: auto;
    margin-right: 0;
    color: #EA580C;
    font-size: 16px;
    padding-right: 8%;
    float: right;
}

.scheduleBox{
    background-color: white;
    padding: 5px;
    margin: 12px;
    border-radius: 12px;
}

.schedulecontainer {
 
    border-radius: 12px;
    align-items: flex-start;
        padding-left: 5%;
        background: #F0F6FE;
        padding: 18px 17px 0px 8px;
        margin-bottom: 2%;
    
}

.schedulecontainer2 {
    display: flex;
  
    align-items: flex-start;

      
        // padding: 18px 17px 10px 8px;
    
}




//MODAL
ion-modal#example-modal {
    --width: fit-content;
    --min-width: 250px;
    --height: fit-content;
    --border-radius: 6px;
    --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
}

ion-modal#example-modal h1 {
    margin: 20px 20px 10px 20px;
}

ion-modal#example-modal ion-icon {
    margin-right: 6px;

    width: 48px;
    height: 48px;

    padding: 4px 0;

    color: #aaaaaa;
}

ion-modal#example-modal .wrapper {
    margin-bottom: 10px;
}



// .card {
//   width: 100px;
//   height: 150px;
//   position: absolute;
//   transition: transform 0.3s ease-in-out;
//   transform: translateZ(0);
//   cursor: pointer;
//   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
//   background: #fff;
//   border: 1px solid #ccc;
//   border-radius: 8px;

//   &:hover {
//     box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
//   }

//   .card-content {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     height: 100%;
//   }
// }

.deck {
  position: relative;
//   width: 96%;
//   height: 300px;
//   margin: 50px auto;
}

.card {
//   width: 100%;
//  height: 50vh;
  position: absolute;
  transition: transform 0.3s ease-in-out, z-index 0s 0.3s;
  cursor: pointer;
//   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
//   background: #fff;
//   border: 1px solid #ccc;
//   border-radius: 8px;

  &:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

  .card-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
}