



<ion-content>

    <ion-row style="padding-top: 10%;">
      <ion-col size="6">
        <h4 style="font-size: 12px;padding-left: 5%;">Sept 2024</h4>
      </ion-col>
    
    <ion-col size="6">
      <h4 style="font-size: 12px;padding-right: 5%;float: right;">4:30pm</h4>
    </ion-col>
    
    </ion-row>
    
      <h4 style="font-size: 18px; font-weight: 900; color: black; text-align: left;padding-left: 5%;">HHA - Home Health Aide</h4>

        <div class="schedulecontainer">
        <div class="schedulecontainer2">
          <img src="../assets/img/notes.png" class="avtarImg">
          <div class="text-content">
          
            <h4 style="font-size: 15px; font-weight: 900; color: #F25022">Attached Notes</h4>
          
          </div>
        </div>
        </div>
        
    <div class="schedulecontainer">
        
      <p>
        Hi Heidy Grace,
        Be mindful to take the patient to groceries on time, and don't for to remind the patient of their medication at 12 noon.

      </p>
     
      
      <div class="schedulecontainer2">
        <img src="../assets/img/anita.png" class="avtarImg">
        <div class="text-content">
    
          <h4 class="headFontTrans">Anita Shades</h4>
          <p class="subFontTrans">1111 South Long Ave Hillside NJ 07205</p>
        </div>
       
      </div>
    </div>

  <ion-row >
    <ion-col size="6">
      <ion-button  >
        Start Driving</ion-button>
    </ion-col>
  
    <ion-col size="6">
      <ion-button class="whitee_g" (click)="startCare()"> Start Care</ion-button>
    </ion-col>
  
  </ion-row>
</ion-content>




